* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Adding a background image */
body {
  background-image: url(./icon.jpg);
  background-size: cover;
  min-height: 100vh;
}

/* Making the image fit the browser window */
body > img {
  width: 100%;
  max-height: 100vh;
}

/* Creating Styling for the Home Module */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

/* Top header div */
.headerTop {
  padding: 1rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 7.5px;
  align-items: center;
}

/* Header Text for the title */
.headerText {
  padding: 5px;
  font-size: 3rem;
  font-family: "Road Rage";
  color: white;
  word-spacing: 15px;
  letter-spacing: 5px;
}

/* Styling the button wrapper containing the buttons */
.buttonWrapper {
  display: flex;
  gap: 10px;
}

.headerBottom {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 250px;
}

/* Styling the buttons */
.buttonStyling {
  padding: 10px;
  font-weight: bold;
  font-family: "Road Rage";
  cursor: pointer;
}

/* Adding Hover functionality to the buttons */
.buttonStyling:hover {
  margin-top: 2.5px;
}

/* Styling the menu text on the homepage */
.menuTitle {
  font-size: 2.5rem;
  color: white;
  font-family: "Skia";
}
.taglineText {
  font-size: 3.5rem;
  color: white;
  font-family: "Cream Peach";
}

/* Adding Menu Tab CSS */
.menuDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 55%;
  border: 3px solid #f5ebdf;
  background-color: #f5ebdf;
  gap: 10px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Container Menu Class */
.containerMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Content Menu Class */
.contentMenu {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menuSubDiv,
.menuSubDivTwo,
.menuSubDivThree {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 300px;
  gap: 15px;
  border: 2px solid #452d23;
  border-radius: 10px;
  /* color: white; */
}

.foodItemDiv {
  gap: 10px;
  text-align: justify;
  padding: 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  flex-direction: column;
}

.foodImageDiv,
.foodImageDivTwo,
.foodImageDivThree {
  float: left;
  width: 20vw;
  height: 193px;
}

.foodImageDiv > img {
  height: auto;
  width: 100%;
}

.price {
  align-self: end;
}

.foodItemTexts {
  font-family: "Lora";
  color: black;
  font-size: 0.8rem;
}

.foodItemHeading {
  font-size: 1.3rem;
  color: black;
  font-family: "Road Rage";
}

.menuTitle {
  color: black;
  font-family: "Road Rage";
}
