* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Adding a background image */
body {
  background-image: url(./icon.jpg);
  background-size: cover;
  min-height: 100vh;
}

/* Making the image fit the browser window */
body > img {
  width: 100%;
  max-height: 100vh;
}

/* Creating Styling for the Home Module */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

/* Top header div */
.headerTop {
  padding: 1rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 7.5px;
  align-items: center;
}

/* Header Text for the title */
.headerText {
  padding: 5px;
  font-size: 2.5rem;
  font-family: "Skia";
  color: white;
}

/* Styling the button wrapper containing the buttons */
.buttonWrapper {
  display: flex;
  gap: 10px;
}

.headerBottom {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 250px;
}

/* Styling the buttons */
.buttonStyling {
  padding: 10px;
  font-weight: bold;
  font-family: "Skia";
  cursor: pointer;
}

/* Adding Hover functionality to the buttons */
.buttonStyling:hover {
  margin-top: 2.5px;
}

/* Styling the tag line text on the homepage */
.taglineText,
.menuTitle {
  font-size: 2.5rem;
  color: white;
  font-family: "Skia";
}

/* Adding Menu Tab CSS */
.menuDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;
  background-color: firebrick;
  border: 3px solid tomato;
  gap: 10px;
}

/* Container Menu Class */
.containerMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Content Menu Class */
.contentMenu {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menuSubDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  border: 2px solid tomato;
  width: 40vw;
  height: 300px;
  gap: 5px;
}

.foodItemDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: firebrick;
  border: 2px solid skyblue;
  width: 20vw;
  /* height: 150px; */
}

.foodImageDiv {
  float: left;
  background-color: firebrick;
  border: 2px solid skyblue;
  width: 20vw;
  height: 150px;
}

.foodImageDiv > img {
  display: block;
}
